{% extends "base.html" %}
{% load static %}
{% block title %}Choose Plans{% endblock %}
{% block content %}

<!-- ============== blog block starts ============== -->
            <section class="blog-block">
                <div class="container">
                    <!-- == top header text starts == -->
                    
                    <!-- == top header text ends == -->

                    <!-- == blog row starts == -->
                    <div class="row">

                        <!-- blog single starts -->
                        <div class="col-xs-12 col-sm-6 wow fadeInUp blog-single">
                            <div class="blog-single-wrap">
                                <div class="nutri-card" style="margin: 0 auto;">
                                    <div class="col-lg-6 col-md-6">
                                    <img src="{% static 'images/food3.jpg' %}" alt="Food" style="width: 100%;"></div>
                                    <div class="col-lg-6 col-md-6">
                                    <h3 class="text-uppercase text-lt text-sp">Low Carbs Meal</h3>
                                    <h4 class="text-uppercase text-lt text-sp">Weight Loss</h4>
                                    <h5 class="text-uppercase text-lt text-sp" style="padding-bottom: 10px;">₹367 to ₹24284</h4>
                                    <a href="" class="text-uppercase text-lt text-sp" style="color: black; background-color:#f1cb0a; margin-top: 20px; padding: 10px 10px 10px 10px;">Know More</a>
                                
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- blog single ends -->

                        <!-- blog single starts -->
                        <div class="col-xs-12 col-sm-6 wow fadeInLeft blog-single">
                            <div class="blog-single-wrap">
                                
                                <div class="panel-group accordion">
                                            
                                    <div class="panel panel-default" style="background-color: #f1cb0a;">
                                        <a href="#">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                    <strong style="color: black;">Low Carb</strong>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="panel panel-default" style="background-color: #f1cb0a;">
                                        <a href="#">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <strong style="color: black;">High Protein</strong>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="panel panel-default" style="background-color: #f1cb0a;">
                                        <a href="#">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <strong style="color: black;">Balanced Meal</strong>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="panel panel-default" style="background-color: #f1cb0a;">
                                        <a href="#">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <strong style="color: black;">Keto</strong>
                                            </div>
                                        </div>
                                        </a>
                                    </div>		
                                            
                                </div>
                            </div>
                        </div>
                        <!-- blog single ends -->

                        


                    </div>
                    <!-- == blog row ends == -->
                </div>
            </section>
            <!-- ============== blog block ends ============== -->
{% endblock %}